*{
    padding: 0;
    margin: 0;
}


.rubrik {
    background: #173f22;
    padding: 1%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5vw;
    text-decoration: underline;
    color: #1db93f;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1vw;
    background-color: #173f22;
    justify-content: space-evenly;
}

.img {
    width: 30vw;
}

body {
    background-color: #f1cd67;
}

.gallery2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1vw;
    background-color: chocolate;
    justify-content: space-evenly;
}

.img2 {
    width: 45vw;
}

.knappar {
    display: flex;
    flex-direction: row;
    size: 2.5vw;
}
body{
    margin: 50px;
    background: #000000;
}